body{
    height: 100%;
}

html{
    height: 100%;
}

.bg{
    background-image:url('bg.jpg');
    background-position: center;
    background-size: cover;
}

.tabela{
    position: relative;
    left: 14px;
}

.sub_task{
    position: relative;
    left: 20px;
}

main{
    opacity: 0.95;
}

